@page 
@model BeautyArtClinic_GrosuAndrada_MoldovanRaluca.Pages.Departamente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departament[0].NumeDepartament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DepartamentData.Departamente) {
            string selectedRow = "";
            if (item.ID == Model.DepartamentID)
            {
                selectedRow = "table-success";
            }
    
    <tr class ="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeDepartament)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.DepartamentData.Medici != null)
{
    <h3>Medici din cadrul departamentului</h3>
    <table class="table">

        @foreach (var item in Model.DepartamentData.Departamente)
        {
            string selectedRow = "";
            if (item.ID == Model.DepartamentID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Medici)
                        {

                            @b.NumeMedic 

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
